[submodule "lib/spectrum"]
	path = lib/spectrum
	url = https://github.com/bgrins/spectrum
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "lib/js-cookie"]
	path = lib/js-cookie
	url = https://github.com/js-cookie/js-cookie
[submodule "lib/piano-mp3"]
	path = lib/piano-mp3
	url = https://github.com/fuhton/piano-mp3
